/* CSS Document */

a {  font-size: 12px; color: #000000; text-decoration: none}
a:hover {  font-size: 12px; color: #CC0033; text-decoration: underline}
BODY {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none;BACKGROUND-COLOR: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
h3{
	font-size:20px;
}
h5{
	font-size:12px;
}
big{
	font-size:20px;
}

TD {
	FONT-SIZE: 12px; TEXT-DECORATION: none; line-height:18px;
}
.input {
	BORDER-RIGHT: #b3b3b3 1px solid; BORDER-TOP: #b3b3b3 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #b3b3b3 1px solid; BORDER-BOTTOM: #b3b3b3 1px solid; BACKGROUND-COLOR: #ededed
}
/*为了区分safari和chrome，下面注释css移到pebank_browsercompatible.js
input:empty{
	font-size:12px;
	font-family:Helvetica;
}*/ 
@-moz-document url-prefix(){
input:empty{
	font-size:13px;
	font-family:新宋体;
}
}

.select_1 {
	font-size:12px;
	BORDER-RIGHT: #A5A5A5 1px solid;
	BORDER-TOP: #A5A5A5 1px solid;
	BORDER-LEFT: #A5A5A5 1px solid;
	BORDER-BOTTOM: #A5A5A5 1px solid;
	HEIGHT: 20px;
	width:60px;
	padding-left: 15px;
    }
/*单数行背景颜色 */
.ebanktopOddNumLine{     
background-color:#D8D8D8
}
/*双数行背景颜色 */
.ebanktopdualNumLine{     
background-color:#F4F4F4
}

/*一级菜单第一行高亮图片 */
.ebanktopShowPic1{    
background-image:url(/icbc/newperbank/images/red/xx.gif); 
}
/*一级菜单第二行高亮图片 */
.ebanktopShowPic2{    
background-image:url(/icbc/newperbank/images/green/xx.gif); 
}
/*一级菜单第三行高亮图片 */
.ebanktopShowPic3{    
background-image:url(/icbc/newperbank/images/yellow/xx.gif); 
}
/*一级高亮时菜单字体颜色图片 */
.font_ebanktopShowFont{    
	color: #FFFFFF;
}
/*热点关注循环栏目*/
A.hot_red:link {
	COLOR: #BA0403; TEXT-DECORATION: none; 
}
A.hot_red:visited {
	COLOR: #BA0403; TEXT-DECORATION: none;
}
A.hot_red:hover {
	COLOR: #000000; TEXT-DECORATION: none;
}
/*热点关注字体*/
.hot_font {
	background-color:#D8D8D8;
	color: #000000;
	font-weight:bold;
	font-size: 13px;
}

/*left和main交易区第一行背景图片 */
.leftAndMainFirstLineShowPic{    
   background-image:url(/icbc/newperbank/images/top2.gif); 
}
/*left和main交易区第最下方背景图片 */
.leftAndMainLastLineShowPic{    
   background-image:url(); 
}
/*单数行背景图片 */
.ebanktopOddNumPic{     
background-image:url(/icbc/newperbank/images/login_011.gif); 
}
/*双数行背景图片 */
.ebanktopdualNumPic{     
background-image:url(/icbc/newperbank/images/wel_07.gif); 
}
/*left交易区属于第一行一级栏目背景图片 */
.leftfirstbg1{
background-image:url(/icbc/newperbank/images/red/jiao3.gif); 
background-repeat:no-repeat;
}
/*left交易区属于第二行一级栏目背景图片 */
.leftfirstbg2{
background-image:url(/icbc/newperbank/images/green/jiao3.gif); 
background-repeat:no-repeat;
}
/*left交易区属于第三行一级栏目背景图片 */
.leftfirstbg3{
background-image:url(/icbc/newperbank/images/red/jiao3.gif); 
background-repeat:no-repeat;
}
/*主交易区属于第一行对应级栏目标题背景图片 */
.maintitlebg1{
background-image:url(/icbc/newperbank/images/red/jiao3.gif); 
background-repeat:no-repeat;
}
/*主交易区属于第二行对应级栏目标题背景图片 */
.maintitlebg2{
background-image:url(/icbc/newperbank/images/green/jiao3.gif); 
background-repeat:no-repeat;
}
/*主交易区属于第三行对应级栏目标题背景图片 */
.maintitlebg3{
background-image:url(/icbc/newperbank/images/red/jiao3.gif); 
background-repeat:no-repeat;
}
/*left交易区第一行一级栏目背景图及字体*/
.leftfirstbgandfont1 {
	font-family: "宋体";
	font-size: 13px;
	color: #FFFFFF;
	font-weight:bold;
    background-image:url(/icbc/newperbank/images/red/wel_22.gif); 
}
/*left交易区第二行一级栏目背景图及字体*/
.leftfirstbgandfont2 {
	font-family: "宋体";
	font-size: 13px;
	color: #FFFFFF;
	font-weight:bold;
    background-image:url(/icbc/newperbank/images/green/wel_22.gif); 
}
/*left交易区第三行一级栏目背景图及字体*/
.leftfirstbgandfont3 {
	font-family: "宋体";
	font-size: 13px;
	color: #FFFFFF;
	font-weight:bold;
    background-image:url(/icbc/newperbank/images/yellow/wel_22.gif); 
}
/*left交易区第一行二级栏目背景图及字体*/
.leftsecondbgandfontold1 {
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	background-color:#E9E3E3;
	font-weight:bold;
    cursor:pointer;
}
/*left交易区第二行二级栏目背景图及字体*/
.leftsecondbgandfontold2 {
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	background-color:#E8ECE6;
	font-weight:bold;
    cursor:pointer;
}
/*left交易区第三行二级栏目背景图及字体*/
.leftsecondbgandfontold3 {
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	background-color:#F4F4F0;
	font-weight:bold;
    cursor:pointer;
}
/*left交易区第一行二级栏目高亮背景图及字体*/
.leftsecondbgandfont1 {
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	background-color:#EED2D1;
	font-weight:bold;
    cursor:pointer;
}
/*left交易区第二行二级栏目高亮背景图及字体*/
.leftsecondbgandfont2 {
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	background-color:#DBE9D2;
	font-weight:bold;
    cursor:pointer;
}
/*left交易区第三行二级栏目高亮背景图及字体*/
.leftsecondbgandfont3 {
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	background-color:#F8F2D2;
	font-weight:bold;
    cursor:pointer;
}
/*left交易区第一行三、四级栏目背景图及字体*/
.leftthirdbgandfontold1 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color:#FFFFFF;
    
}
/*left交易区第二行三、四级栏目背景图及字体*/
.leftthirdbgandfontold2 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color:#FFFFFF;
    
}
/*left交易区第三行三、四级栏目背景图及字体*/
.leftthirdbgandfontold3 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color:#FFFFFF;
    
}
/*left交易区第一行三、四级栏目高亮背景图及字体*/
.leftthirdbgandfont1 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color:#E9E3E3;
	
    
}
/*left交易区第二行三、四级栏目高亮背景图及字体*/
.leftthirdbgandfont2 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color:#F4F4F4;
	
    
}
/*left交易区第三行三、四级栏目高亮背景图及字体*/
.leftthirdbgandfont3 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	background-color:#F4F4F4;
	
    
}
/*left交易区一级、二级、三级、四级链接*/
A.left_link1:link {
	COLOR: #000000; TEXT-DECORATION: none;
outline:none;
}
A.left_link1:visited {
	COLOR: #000000; TEXT-DECORATION: none;
outline:none;
}
A.left_link1:hover {
	COLOR: #BA0403;
	TEXT-DECORATION: none;
outline:none;
}
A.left_link2:link {
	COLOR: #000000; TEXT-DECORATION: none;
outline:none;
}
A.left_link2:visited {
	COLOR: #000000; TEXT-DECORATION: none;
outline:none;
}
A.left_link2:hover {
	COLOR: #618439;
	TEXT-DECORATION: none;
outline:none;
}
A.left_link3:link {
	COLOR: #000000; TEXT-DECORATION: none;
outline:none;
}
A.left_link3:visited {
outline:none;
	COLOR: #000000; TEXT-DECORATION: none;
}
A.left_link3:hover {
	COLOR: #B6990D;
	TEXT-DECORATION: none;
outline:none;
}
/*交易区top向导字体颜色 第一行*/
.mainfont1 {
	font-size: 12px;
	color: #BC001F;
}
/*交易区top向导字体颜色 第二行*/
.mainfont2 {
	font-size: 12px;
	color: #597648;;
}
/*交易区top向导字体颜色 第三行*/
.mainfont3 {
	font-size: 12px;
	color: #B6990D;
}
/*一级栏目第一行链接颜色*/
A.link_black1:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black1:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black1:hover {
	COLOR: #BA0403; TEXT-DECORATION: none;
}
/*一级栏目第二行链接颜色*/
A.link_black2:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black2:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black2:hover {
	COLOR: #618439; TEXT-DECORATION: none;
}
/*一级栏目第三行链接颜色*/
A.link_black3:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black3:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black3:hover {
	COLOR: #B6990D; TEXT-DECORATION: none;
}
/*交易区*/
.color1 {
	color: #D8D8D8;
	}
.color2 {
	color: #F2F2F2;
	}
.bc1 {
	background-color:#bfbfbf;    
}
.bc2 {
	background-color:#F2F2F2;    
}
.bc3 {
	background-color:#E6E6E6;    
}

/* font */
.font_white {
	font-family: "宋体";
	font-size: 13px;
	color: #FFFFFF;
}
.font_bwhite {
	font-family: "宋体";
	font-size: 13px;
	color: #FFFFFF;
	font-weight:bold
}
.font_black {
	font-family: "宋体";
	color: #000000;
	font-weight:bold;
}
.font_tblack {
	font-family: "宋体";
	color: #000000;
	font-weight:bold;
	font-size: 13px;
}
.font_stred {
	font-size: 12px;
	color: #BC001F;
	font-weight:bold
}

.font_gray{color: #686868;}
.font_green{
	font-size: 13px;
	color: #4C7B75;
	font-weight:bold
}

.font_hr{color: #623F43;}

/* blue page */
.font_bluel{color: #1C69A1;}
A.link_btree:link {
	COLOR: #14364F; TEXT-DECORATION: none;
}
A.link_btree:visited {
	COLOR: #14364F; TEXT-DECORATION: none;
}
A.link_btree:hover {
	COLOR: #1C69A1; TEXT-DECORATION: none;
}
.td_L_R4{ BORDER-top:#99C6E7 1px solid;
          BORDER-bottom: #99C6E7 6px solid;
          border-right: #99C6E7 1px solid; 
		  }
		 
 /* green page */
.font_greenl{color: #597648;}
.font_green2{
	font-family: "宋体";
	color: #2C3F21;
	font-weight:bold;
}
A.link_gtree:link {
	COLOR: #2E421F; TEXT-DECORATION: none;
}
A.link_gtree:visited {
	COLOR: #2E421F; TEXT-DECORATION: none;
}
A.link_gtree:hover {
	COLOR: #6c9b4a; TEXT-DECORATION: none;
}
.td_L_R5{ BORDER-top:#BDD3AC 1px solid;
          BORDER-bottom: #BDD3AC 6px solid;
          border-right: #BDD3AC 1px solid; 
		  }
		  
 /* yellow page */
.font_yellowl{color: #B6990D;}
.font_yellow2{
	font-family: "宋体";
	color: #55490D;
	font-weight:bold;
}
A.link_ytree:link {
	COLOR: #56470C; TEXT-DECORATION: none;
}
A.link_ytree:visited {
	COLOR: #56470C; TEXT-DECORATION: none;
}
A.link_ytree:hover {
	COLOR: #B6990D; TEXT-DECORATION: none;
}
.td_L_R6{ BORDER-top:#EFDF91 1px solid;
          BORDER-bottom: #EFDF91 6px solid;
          border-right: #EFDF91 1px solid; 
		  }


/* link */
A.link_top:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_top:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_top:hover {
	COLOR: #BC001F; TEXT-DECORATION: underline;
}
A.link_yellow:link {
	COLOR: #000000; TEXT-DECORATION: none;font-size: 13px;
}
A.link_yellow:visited {
	COLOR: #D7C01A; TEXT-DECORATION: none;font-size: 13px;
}
A.link_yellow:hover {
	COLOR: #000000; TEXT-DECORATION: underline;font-size: 13px;
}

A.text2b:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text2b:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.text2b:hover {
	COLOR: #bc0021; TEXT-DECORATION: underline
}
A.link_gray:link {
	COLOR: #606060; TEXT-DECORATION: none;
}
A.link_gray:visited {
	COLOR: #606060; TEXT-DECORATION: none;
}
A.link_gray:hover {
	COLOR: #BA0403; TEXT-DECORATION: underline;
}
A.link_red:link {
	COLOR: #000000; TEXT-DECORATION: none; 
}
A.link_red:visited {
	COLOR: #BA0403; TEXT-DECORATION: none;
}
A.link_red:hover {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_black:hover {
	COLOR: #BA0403; TEXT-DECORATION: none;
}

A.link_blue:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_blue:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_blue:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline;
}
A.link_dizhi:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
A.link_dizhi:visited {
	COLOR: #4A7875; TEXT-DECORATION: none;
}
A.link_dizhi:hover {
	COLOR: #BA0403; TEXT-DECORATION: none;
}

A.link_common:link {
	COLOR: #0000FF; TEXT-DECORATION: none;
}
A.link_common:visited {
	COLOR: #0000FF; TEXT-DECORATION: none;
}
A.link_common:hover {
	COLOR: #0000FF; TEXT-DECORATION: underline;
}

/*  table border */
.td_L_R1 { BORDER-top:#C64259 1px solid;
          BORDER-bottom: #C64259 1px solid;
          border-left: #C64259 1px solid;
          border-right: #C64259 1px solid; 
		  }
.td_L_green { BORDER-top:#FFFFFF 1px solid;
              BORDER-bottom: #FFFFFF 1px solid;
              border-right: #FFFFFF 1px solid; 
		  }
 .td_L_R2 { BORDER-top:#ABABAB 1px solid;
          BORDER-bottom: #ABABAB 1px solid;
          border-left: #ABABAB 1px solid;
          border-right: #ABABAB 1px solid; 
		  }
 .td_L_R3{ BORDER-top:#CCB4B4 1px solid;
          BORDER-bottom: #CCB4B4 6px solid;
          border-right: #CCB4B4 1px solid; 
		  }
 .td_L_main { BORDER-top:#B3B3B3 1px solid;
          BORDER-bottom: #B3B3B3 1px solid;
          border-left: #B3B3B3 1px solid;
          border-right: #B3B3B3 1px solid;
          background-color:#F2F2F2
          
		  }
.tdspace{
width:40px;
}
 .td_L_detail { BORDER-top:#B3B3B3 1px solid;
          BORDER-bottom: #B3B3B3 1px solid;
          border-left: #B3B3B3 1px solid;
          border-right: #B3B3B3 1px solid;
          background-color:#FFFFFF
          
		  }
.Big_Write{
border: 0; color: #000000; BACKGROUND-COLOR:#F2F2F2
}

.subMenuHot {
	COLOR: #ffffff; BACKGROUND-COLOR: #bc0022; cursor:pointer
}
.mapfirstBg {
	COLOR: #000000; BACKGROUND-COLOR: #FF80C0; 
}
form{
	margin:0px;
}
input:disabled{color:graytext;}
textarea{resize:none;}
@-moz-document url-prefix(){
textarea{
	font-size:13px;
	font-family:新宋体;
}
}
.WordWrap{
	word-wrap:break-word;/*中文及中英文混搭*/
	word-break:break-all;/*英文*/
}
.tr0_td{ 
padding:5px 0 5px 0;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), to(#CCCCCC));
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F3F3F3,endColorStr=#CCCCCC);
background: -moz-linear-gradient(top, #F3F3F3, #CCCCCC);
background: -o-linear-gradient(top, #F3F3F3 0%,#CCCCCC 100%);
background: -ms-linear-gradient(top, #F3F3F3, #CCCCCC);
}

/*第一个td圆角*/
.tr0_tdstart{
padding:5px 0 5px 0;	
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F3F3), to(#CCCCCC));
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#F3F3F3,endColorStr=#CCCCCC);
background: -moz-linear-gradient(top, #F3F3F3, #CCCCCC);
background: -o-linear-gradient(top, #F3F3F3 0%,#CCCCCC 100%);
background: -ms-linear-gradient(top, #F3F3F3, #CCCCCC);
}
.div0_line_left{
width:100%;
width=101.2%;
right:0px;
top:0px;
position:relative;
border-left:2px groove white;
height:100%;
margin:0px;
}
.div0_line_left_last{
width:100%;
right:0px;
top:0px;
position:relative;
border-left:2px groove white;
height:100%;
margin:0px;
}
.div0_line{
position:relative;
}
.div0_line_right{
width:100%;
width=100.1%;
right:0px;
top:0px;
position:relative;

height:100%;
line-height:100%;
margin:0px;
}
/*最后td圆角*/
.tr0_tdend{
--border-radius:0 10px 0 0;
}
/*基数行*/
.td_even{background-color:#FFFFFF; }
/*偶数行*/
.td_odd{background-color:#F2F2F2;}
/*表格边框*/
.tableborder{border-top:1px solid #B3B3B3;border-bottom:1px solid #B3B3B3;}
/*字体粗体*/
.font_16{font-size:16px;}
/*td左边框*/
.tr_tdstart{border-left:1px solid #B3B3B3;}
/*td右边框*/
.tr_tdend{border-right:1px solid #B3B3B3;}
/*td左对齐20px*/
.td_padding_left{padding-left:20px;}
/*td左对齐10px*/
.td_padding_left2{padding-left:10px;}
/*td右对齐10px*/
.td_padding_right{padding-right:10px;}
/*双行提示div*/
.doubleDiv{
	height:40px;
	padding:3px 0 0px 0;
}
.doubleDiv_top{
	height:18px;
}
.doubleDiv_bottom{
	height:18px;
}
/*新按钮样式*/
.newButtonTdStyle{
	text-align:center;
	vertical-align:middle;
	height:68px;
}
.newButtonTdStyle img {
	margin-left:10px;
	margin-right:10px;
}